<div class="container-fluid">
    <div id="home" class="row align-items-center hero">
        <div class="col-lg-3 offset-lg-2">
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>Descripción Random</p>
        </div>
    </div>
</div>

<!-- Inicio de Novedades -->
<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg"> Nuevas
                    recetas 1</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg"> Nuevas
                    recetas 2</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg"> Nuevas
                    recetas 3</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg"> Nuevas
                    recetas 4</a></li>
        </ul>
    </div>
</div> <!-- Fin de Novedades -->
<!-- Inicio de Imágen genérica -->
<div id="cerveza iron maiden" class="col-md-5 offset-md-2 py-3">
    <figure class="figure">
        <img src="images/cerveza.PNG" class="figure-img img-fluid rounded" alt="cerverza iron maiden">
        <figcaption class="figure-caption">Imágen de Cerveza Iron Maiden.</figcaption>
    </figure>
</div>
<!-- Fin de Imágen genérica -->
<!-- Inicio de Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Titulo del Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Descripción del Modal random
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin de Modal -->
<!-- Inicio de Historia -->
<div id="conocenos" class="row align-items-center py-4">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet consectetur
            adipisicing elit.</p>
        <a href="https://www.youtube.com/watch?v=a3Z7zEc7AXQ&ab_channel=RVE">Click aqui para saber mas</a>
    </div>
</div> <!-- Fin de Historia -->
<!-- Inicio de Nosotros -->
<div id="nosotros" class="row align-items-stretch my-3 staff py-4">
    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="images/nosotros01.PNG" class="card-img-top" alt="Mark 1">
                    <div class="card-body">
                        <h5 class="card-title">Mark 1</h5>
                        <p class="card-text">Descripción de la Mark 1....</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros02.PNG" class="card-img-top" alt="Mark 2">
                    <div class="card-body">
                        <h5 class="card-title">Mark 2</h5>
                        <p class="card-text">Descripción de la Mark 2....</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros03.PNG" class="card-img-top" alt="Mark 3">
                    <div class="card-body">
                        <h5 class="card-title">Mark 3</h5>
                        <p class="card-text">Descripción de la Mark 3....</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros04.PNG" class="card-img-top" alt="Mark 4">
                    <div class="card-body">
                        <h5 class="card-title">Mark 4</h5>
                        <p class="card-text">Descripción de la Mark 4....</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="images/nosotros05.PNG" class="card-img-top" alt="Mark 5">
                    <div class="card-body">
                        <h5 class="card-title">Mark 5</h5>
                        <p class="card-text">Descripción de la Mark 5....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin de Nosotros -->
<!-- Inicio de Contacto -->
<div class="col-md-4 mt-3 mt-sm-11">
    <div id="contacto" class="col-md-7 offset-md-4 py-3">
        <h2>Contactanos</h2>
        <form class="row g-3" action="/" method="post">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="col-12">
                <label for="email" class="form-label">E-Mail</label>
                <input type="text" class="form-control" id="email" placeholder="email@email.com" name="email">
            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder="..." name="tel">
            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3" name="mensaje">
      </textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
    <p>{{message}}</p>
    <!-- Fin de Contacto -->

    </html>